@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto";
  src: url(/Noto.ttf);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
  overflow: hidden;
  font-family: "Noto";
}

#root {
  background-image: url(/bg.jpg);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 25% 40%;
  }

  25% {
    background-position: 40% 30%;
  }

  50% {
    background-position: 50% 70%;
  }

  100% {
    background-position: 25% 40%;
  }
}
